<div class="container-fluid" >

  <div>
    <app-header></app-header>
  </div>
  <div class="row" >

    <!--<div class="col-md-2 " style="background: #ffc85a ; width: 100px ; height: 500px ; margin-top: 60px" >-->
      <!--ewewte-->
    <!--</div>-->

    <div class="col-md-12">
      <app-login></app-login>

    </div>

    <!--<div class="col-md-2"  style="background: #ffc85a ; width: 113px ; height: 500px ; margin-top: 60px">-->
      <!--etet-->
    <!--</div>-->
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
