<div class="border ">

  <p align="left">

    <h3 style="color:#00008C;" class="text-center"><b>Demo Applications/ APIs</b></h3>
    <br>


  <div id="well1" class="well" style="width:35%; height: auto ; align:center;">

    <div class="container">

      <!--<div class="clearfix">-->

      <h4 style="color:#00008C;"><b>Applications</b></h4>

      <a href="https://s3.amazonaws.com/lti-skill-assessment-system/index.html" target="_blank"
         style="color: #00008C; text-transform:initial; ">

        <h4>1. LTI Skill Assessment</h4></a>


      <a href="https://s3.amazonaws.com/video-tanscoder/player/index.html" target="_blank"
         style="color: #00008C; text-transform:initial; ">

        <h4>2. Video Streaming</h4></a><br>

      <br>


      <h4 style="color:#00008C;"><b>APIs</b></h4>

      <a href="https://s3.amazonaws.com/demo-application-api/documents/ImageRecognition.pdf"
         target="_blank" style="color: #00008C; text-transform:initial; " download>

        <h4>1. Image Recognition API</h4></a>

      <a href="	https://s3.amazonaws.com/demo-application-api/documents/DSB_APPLICATION.pdf "
         target="_blank" style="color: #00008C; text-transform:initial;" download>

        <h4>2. DSB App</h4></a>



    </div>

  </div>



</div>
