.border {

  margin-top: 60px;

  margin-left: 40px;

  margin-right: 50px;

  height: 300px;

  width: auto;

}

p {

  margin-top: 10px;

  margin-left: 50px;

  color: #00008C;

  margin-right: 150px;

  padding: 20px;

  background: white;

  width: 300px;

  font-family: Tahoma, Geneva, sans-serif;

}

#well1 {

  margin: auto;

}
